@import 'globals';

@include react-md-everything;

body {
  margin: 0;
}

.no-padding {
  padding: 0 !important;
}

.notif__container {
  top: auto !important;
  bottom: 0px !important;
  text-align: center;
}

.margin-top-56 {
  margin-top: 56px;
}

.action-card-header .md-card-title--contextual {
  background: $md-yellow-200;
}

.action-card-header .md-card-title--contextual .md-card-title--title-contextual,
.action-card-header .md-card-title--contextual .md-btn--icon {
  color: $md-orange-a-700;
}

.pull-button-right > .md-menu-container {
  float: right;
}

@media screen and (min-width: 320px) and (min-aspect-ratio: 13 / 9) {
  .md-toolbar-relative {
    margin-top: 56px; }
  .md-toolbar-relative--padding {
    padding-top: 56px; }
  .md-toolbar {
    height: 56px; }
  .md-toolbar--action-left {
    margin-left: 4px; }
  .md-toolbar--action-right {
    margin-right: 4px; }
  .md-title--toolbar {
    line-height: 56px;
    margin-left: 20px; }
  .md-title--toolbar-offset {
    margin-left: 72px; }
}